.Reddit {
    width: 100%;
    background-color: #07100F;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Reddit__posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    position: relative;
}