@import '../../utils/styles/colors.scss';
@import '../../utils/styles/breakpoints.scss';

.Reddit {
    width: 100%;
    background-color: $background;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Reddit__posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-inline: 24px;
    min-height: 100VH;

    @include small {
        padding-inline: 0;
    }
}