@import '../../../utils/styles/colors.scss';

.PostComments {
    display: flex;
    flex-wrap: wrap;
    padding: 0 36px;
}

.PostComments__header {
    margin-bottom: 72px;
    flex-basis: 100%;

    h2 {
        color: $green;
    }
}

.PostComments__textContent {
    line-height: 24px;

    div {
        color: $lightBlue;
        width: 330px;
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis; 

        a {
            color: $lightBlue;
        }
    }
}

.PostComments__showReplies {
   margin-bottom: 50px;
   border: 2px solid $lightBlue;
   font-weight: bold;
   padding: 5px 10px;
   cursor: pointer;

   transition: all 0.4s;

   &:hover {
    transform: scale(1.04);
   }
}

.PostComments__repliesShow {
  margin-top: 12px;
  font-weight: bold;
  color: $lightBlue;
}

.PostComments__back {
    flex-basis: 100%;
    display: flex;
    align-items: center;

    svg {
        padding-right: 10px;
    }
}

.PostComments__comments {
    margin-bottom: 36px;
    flex-basis: 100%;

    li {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 36px; 
        padding: 8px 16px;
        border: 2px solid $green;
        border-radius: 4px;
    }

    :nth-child(2n) {
        border-color: $lightBlue;
    } 
}

.PostComments__mainComment {
    flex-basis: 100%;
    font-weight: bold;
    font-size: 18px;
}

.PostComments__replies {
    margin: 24px 0 0 12px;
    border-left: 4px solid;
    padding-left: 20px;
    flex-basis: 100%;
    color: $lightBlue;
    font-size: 18px;
    font-style: italic;
}

.PostComments__image {
    max-width: 720px;
}