.PostComments {
    display: flex;
    flex-wrap: wrap;
    padding: 0 36px;
}

.PostComments__header {
    margin-bottom: 72px;
    flex-basis: 100%;

    h2 {
        color: #6EC741;
    }
}

.PostComments__textContent {
    line-height: 24px;

    div {
        color: #4FBCFF;
        width: 330px;
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis; 

        a {
            color: #4FBCFF;
        }
    }
}

.PostComments__showReplies {
   margin-bottom: 50px;
   border: 2px solid white;
   padding: 5px 10px;
}

.PostComments__repliesShow {
  margin-top: 12px;
  font-weight: bold;
  color: #4FBCFF;
}

.PostComments__back {
    flex-basis: 100%;
}

.PostComments__comments {
    margin-bottom: 36px;
    flex-basis: 100%;

    li {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 36px; 
        padding: 8px 16px;
        border: 2px solid #6EC741;
    }

    :nth-child(2n) {
        border-color: #77bfcf;
    } 
}

.PostComments__mainComment {
    flex-basis: 100%;
    font-weight: bold;
    font-size: 18px;
}

.PostComments__replies {
    margin: 24px 0 0 12px;
    border-left: 4px solid;
    padding-left: 20px;
    flex-basis: 100%;
    color: #4FBCFF;
}

.PostComments__image {
    max-width: 720px;
}